/* Overides */
html {
    background-color: rgb(17 16 16);
}

body {
    color: white;
    margin: 0px;
}

section{
    width: 50%;
}

a:link, a:visited{
    text-decoration: none;
    color: white;
}


/* Nav */
nav {
    height: 3.1em; /* This is the same height as not selecting a height, so this is to be added for the counter-nav class */
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #303058;
    box-shadow: 5px 3px 1px #15152f;
    top: 0%;
}

nav ul {
    display: flex;
    width: 50%;
    padding-left: 25%;
    justify-content: space-around;
    list-style-type: none;
    text-decoration: none;
}

nav a:hover{
    text-decoration: none;
    color: #b0b0e8;
    /* background-color: black; */
}

nav a:active{
    text-decoration: none;
    color: white;
}

.nav-list {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.counter-nav{
    height: 3.1em;
}


/* Icons */
.icon-section{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.youtube-icon{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-background{
    position: relative;
    max-width: 100% !important; 
}

.img-background img{
    margin: 0;
}

/* Universal */
.arrow {
    border: solid;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
}
.right{
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
}

/* HomePage */
.banner-text{
    margin: 2px;
    font-size: 46px;
}

.banner{
    position: relative;
    display: grid;
    place-items: center;
    color: #ffffff;
    width: 100%;
    height: 46vw; 

    text-shadow: #635f5f -7px -6px 15px;
     /* Find better measurement */
}

.banner::before{
    content: "";
    position: absolute;
    top: 0;
    left:0;
    background-image: url("https://assets.entrepreneur.com/content/3x2/2000/20160628101609-Coding.jpeg");
    width: 100%;
    height: 100%;
    filter: blur(3px) grayscale(70%) contrast(1.15);
}

.banner .btn{
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 3%;
    background-color: transparent;
    height: 3em;
    color: rgb(255, 255, 255);
    border: solid 2px;
    border-color: #8a0ec4;
    cursor: pointer;
    font-size: 18px;
}

.banner .btn:hover{
    background-color: rgb(164, 89, 235);
    border: solid 3px;
    border-color: #ffffff;
    /* color: gray; */
}

.banner hr{
    width: 15%;
    margin-bottom: 3vh;
}

.banner-inside{
    position: relative;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    /* Possible additions like: font: bold */
} 

.spaced-row{
    margin-top: 1em;
    width: 98%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

/* More (but pick better name) */
.spacer{
    margin-top: 10em;
}

.master-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portrait {
    height: 9em;
    width: 9em;
    border-radius: 50%;
    display: inline-block;
    background-color: aquamarine;
    background-image: url(../assets/Portrait.jpeg);
    background-position: -4rem -3rem;
    background-size: 150%;
    background-repeat: no-repeat;
}

.copy-popup{
    position: fixed; 
    bottom: 20%; 
    left: 30%; 
    background-color: #303058; 
    color: whitesmoke; 
    font-size: larger;
    height: 20%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* AboutPage */
.prt-large {
    width: 40%;
    display: inline-block;
    background-image: url(../assets/Portrait.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}

.about{
    margin: 2em 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.abt-text{
    width: 50%;
}

.custom-fa{
    font-size: 5em;
}

.html-badge{
    color: orangered;
}

.css-badge{
    color: #216ae8;
}

.bootstrap-badge{
    color: #8a0ec4;
}

.react-badge{
    color: #30b7d9;
}

.fontawesome-badge{
    color: #5b8adc;
}

.about-tech{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

footer i{
    padding: 2rem;
}

.about-section{
    height: 40em;
    background-image: linear-gradient(140deg, #b3a4e7 13%, #1f14fa 40%, #00094b 73%, transparent);
}

/* ProjectPage */
.counter-header{
    min-height: 8em;
}

.github-badge{
    font-size: 5rem;
    color: #ffffff;
}

.repo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gh-link:hover .repo{
    color: black;
}

.gh-link:hover .github-badge{
    color: black;
}


.proj-header{
    position: fixed;
    top: 3em;
    height: 6em;
    width: 100%;
    z-index: 50;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(5deg, #111010, #353264 40%, #55447b 73%, #ba83b8);
    /* background-image: linear-gradient(140deg, transparent, #353264 40%, #55447b 73%, #ba83b8); */
}

.proj-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40em;
    margin-top: 1.5em;
}

.close-arrow{
    background: rgba(43, 43, 65, 0.66);
    display: flex;
    width: 2em;
    height: 2em;
    align-items: center;
    justify-content: center;

    z-index: 10;
    position: fixed;
    bottom: 5em;
}

.close-arrow:hover{
    cursor: pointer;
}




/* Project */
.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5% 5%;
}

.project .prj-info {
    width: 100%;
    margin: 3% 0%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.prj-info div{
    max-width: 45%;
}

.prj-info img{
    margin: 5% 0em;
    max-width: 100%;
} /* Be careful here, this could cause me future issues */



/* Cards */
.horz-cards{
    display: flex;
    flex-direction: row;
}

.card{
    width: 20em;
    height: 20em;
    margin: 2em;
}

.card:hover{
    width: 22em;
    height: 22em;
    cursor: pointer;
}



/* 
.card-img-cust{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: var(--bs-card-inner-border-radius);
    border-top-right-radius: var(--bs-card-inner-border-radius);
    height: 100%;
    width: 100%;
    object-fit: cover;

    background-size: contain;
    background-repeat: no-repeat;
} */


.cic{
    position: relative;
    display: grid;
    place-items: center;
    color: #ffffff;
    width: 100%;
    height: 100%; 
}

.cic::before{
    content: "";
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/CC-example-2.png");

}

.cic:hover::before{
    opacity: .3;
}





.card-title{
    font-size: 24px;
} 

.card-subtitle{
    opacity: 0;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    left: 4.4vh;
    right: 4.4vh;
    -webkit-transition: all cubic-bezier(.4,0,.2,1) .4s;
    -o-transition: all cubic-bezier(.4,0,.2,1) .4s;
    transition: all cubic-bezier(.4,0,.2,1) .4s;
}

.card:hover .card-subtitle{
    opacity: 1;
    color: rgb(206, 96, 226);
    font-size: 20px;

}







.card-text{
    position: relative;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    color: transparent;
    /* Possible additions like: font: bold */
}



.card:hover .card-text{
    color: white;
} 



.card:hover .card-img-cust{
    opacity: .5;
}


