/* Overides */
h1{
    font-size: 2.6rem;
}

p{
    font-size: 1.4rem;
}

html {
    /* background-color: rgb(17 16 16); */
    background-color: hsl(228deg 22.58% 18.24%);
    /* hsl(228deg 22.58% 18.24%) */
    /* hsla(158, 23%, 18%, 1) */
    
}

body {
    color: white;
    margin: 0px;
}

html,
body {
    max-width: 100vw;
}

section{
    width: 50%;
}

a:link, a:visited{
    text-decoration: none;
    color: white;
}

footer{
    padding: 4vh 0;
    display: grid;
    margin: 2vh 5vw;
    grid-template-columns: repeat(25, 1fr);
}



/* Nav */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    width: 70%;
    padding: 0% 15% 0% 15%;
    position: fixed;
    top: 3%;
    z-index: 999;

    /* background-color: #303058;
    box-shadow: 5px 3px 1px #15152f; */
}

nav li{
    width: 33%;
    display: flex;
    justify-content: center;
}


.nav-color-on{
    background-color: #171925e6;
}


.nav-pages {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    list-style-type: none;
    text-decoration: none;
    border-radius: 40px;
    padding: .75em;
}

nav li {
    font-size: 18px;
    cursor: pointer;
}

nav a:hover{
    text-decoration: none;
    color: #b0b0e8;
    /* background-color: black; */
}

/* nav a:active{
    text-decoration: none;
    color: white;
} */

.active{
    background-color: #8c7cdc1f;
    padding: 5px 10px;
    border-radius: 40px;
}

.nav-list {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.counter-nav{
    height: 3em;
}


.icons{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    margin: 0;
    font-size: 2rem;
    padding-inline-start: 0em;
    justify-content: space-between;
    width: 7%;
}

.icons h6{
    margin: 0;
}

.nav-badges:hover{
    transform: translate(0px, -2px);
}

.nav-badges i{
    font-size: 2rem;
    margin: 1rem;

}

.logo{
    width: 7%;


    left: .5%;
    top: 94%;
    position: fixed;
}

.logo a{
    display: flex;
}

.logo img{
    border-radius: 8px;
    height: 2.8em;
}




/* Arrows */
.arrow {
    border: solid;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
}

.left{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.right{
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
}





/* HomePage */
.banner-text{
    margin: 2px;
    font-size: 48px;
    text-shadow: -1px -1px 0 BLACK;
}

.banner{
    position: relative;
    display: grid;
    place-items: center;
    color: #ffffff;
    width: 100%;
    height: 45.66vw;
}

.banner::before{
    content: "";
    position: absolute;
    top: 0;
    left:0;
    background-image: url("https://assets.entrepreneur.com/content/3x2/2000/20160628101609-Coding.jpeg");
    width: 100%;
    height: 100%;
    filter: blur(3px) grayscale(70%) contrast(1.15);
    opacity: .8;
}

.btn p{
    padding: 1em;
}

.banner .btn{
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 3%;
    background-color: transparent;
    height: 3em;
    color: rgb(255, 255, 255);
    border: solid 2px;
    border-color: #8a0ec4;
    cursor: pointer;
    font-size: 18px;
}

.banner .btn:hover{
    background-color: rgb(164, 89, 235);
    border: solid 3px;
    border-color: #ffffff;
    /* color: gray; */
}

.banner hr{
    width: 15%;
    margin-bottom: 3vh;
}

.banner-inside{
    position: relative;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
} 

.banner-inside h2{
    text-shadow: -1px -1px 0 BLACK;
}

.banner-buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
}





/* Universal */
.spacer{
    margin-top: 10em;
}

.master-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portrait {
    /* transform: translate(-10%, 1%); */
    border-radius: 20px;
}





/* AboutPage */
.about-icons{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    margin: 0;
    font-size: 3em;
    padding-inline-start: 0em;
    justify-content: flex-start;
}

.about-socials{
    margin-top: 2em;
}

.email{
    margin: 0.25em;
    font-size: 20px;
    cursor: pointer;
}

.email:hover {
    position: absolute;
    color: rgb(140, 170, 247);
    transform: translate(0px, -5px);
}

.copy-popup{
    background-color: #2f2e2e; /* Temporary color */
    position: fixed;
    top: 30%;
    left: 50%;
    border-radius: 8px;
    padding: 1em;
    font-size: large;
    transform: translate(-50%, -50%)
}

.about{
    display: flex;
    align-items: center;
    margin: 3em 15% 2em 15%;
    padding-bottom: 2em;
    justify-content: space-around;

    /* border-bottom-style: solid;
    border-color: #a8a8a8;
    Bring back if I add more to about page
    */
}

.about-left{
    width: 45%;
    /* padding-right: 10%; */
    margin: 3% 0%;
}

.about-left p{
    /* font-size: 1.2rem; */

    padding-right: 2em;
}

.about-left ul{
    list-style-type: none;
    text-decoration: none;
}

.big-text{
    margin: 0;
    font-size: 6rem;
}

.about-right{
    max-height: 60vh;
    display: flex;
    justify-content: center;
}

.about-right img{
    max-height: 60vh;
    border-radius: 8px;
}

.badge{
    padding: 1rem;
}

.badge:hover{
    transform: translate(0px, -5px);
    box-shadow: 0px 2px #b0b0e8;
}





/* Dislays */
.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2% 5%;
}

.project .prj-info {
    width: 100%;
    margin-bottom: 5em;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
}

.prj-info div{
    max-width: 45%;
}

.prj-info img{
    margin: 5% 0em;
    max-width: 100%;
} /* Be careful here, this could cause me future issues */


.link-list{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    flex-direction: row;
}

.link-list a{
    font-weight: bold;
    text-decoration: underline;
    font-size: larger;
    color: #6271be;
}

.link-list a:hover{
    color: #b0b0e8;
}

.link-list i {
    font-size: .75em;
}

.frame-tech{
    display: flex;
    flex-direction: row;
    margin-top: -1em;
    list-style-type: none;
    padding: 0;
}

.frame-tech li{
    padding: 0.5em;
}


.custom-fa{
    font-size: 2em;
}

.html-badge{
    color: orangered;
}

.css-badge{
    color: #216ae8;
}

.bootstrap-badge{
    color: #8a0ec4;
}

.react-badge{
    color: #30b7d9;
}

.fontawesome-badge{
    color: #528dd7;;
}

.python-badge{
    color: #5b8adc;;
}

.docker-badge{
    color: #2962cd;
}

.aws-badge{
    color: #ff9900;
}

.linkedin-badge{
    color: #0964c0;
}

.github-badge{
    /* font-size: 4rem; */
    color: #ffffff;
    /* font-size: 24px; */
}

.img-background{
    position: relative;
    max-width: 100% !important; 
}





/* DeployedAppsPage */
.deployed-apps{
    display: flex;
    flex-direction: row;
    /* margin: 0 5%; */
}

.apps-left{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    justify-content: space-evenly;
    /* height: 95vh; */
    min-height: 94.7vh;
    max-height: 100%;
    background-color: #212020;
    box-shadow: 1.5px 0px 0px 0px #636363;
}

.apps-right{
    width: 80%;
    margin-left: 20%;
}


/* Goes for a function that has been diabled
.pop-up{
    position: absolute;
    z-index: 1000;
    font-size: larger;
    background-color: #837c8c;
    border-radius: 10px;
    padding: 0.75em;
    transform: translate( 0%, -100%);
} */


.close-x{
    background: rgb(48 48 88 / 70%);
    display: flex;
    width: 2em;
    height: 2em;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: fixed;
    top: 8%;
    right: 8%;
}

.close-x:hover{
    cursor: pointer;
}

.display-help{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-size: large;
}

.here{
    font-size: smaller;
}

.note a{
    color: rgb(235, 107, 151);
}

.note a:hover{
    color: #b0b0e8;
}


/* DeployedApps Cards */
.card{
    background: #4a5484;
    /* background: rgb(32, 79, 150); */
    width: 34em;
    height: 32em;
    max-height: 550px;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    padding: 2em 0 0 2em;
    display: flex;
    flex-direction: column;

    border: 2px solid transparent;
}
.card:hover{
    cursor: pointer;
    transform: translateY(-2px);
    border: 2px solid rgb(140, 170, 247);
}

.wide-card{
    width: 58em;
}


.card-body {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}




.card-img-bottom{
    height: 90%;
    margin-bottom: 0;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    object-fit: cover;
}


.card:hover .card-img-bottom{
    opacity: .4;
}


.card-title{
    margin: 0.25rem 0.25rem 0.5rem;
    font-size: 2rem;
    /* font-size: 1.4rem; */
}


.card-img-overlay{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    padding: 1.25rem;
    transform: translate(-50%, -50%);
    color: transparent;

}

.card:hover .card-img-overlay{
    color: white;
}


.card-text{
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    font-size: 2.5rem;
}


/* Projects Page */
.repo-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0%;
    list-style-type: none;
    text-decoration: none;
    width: 33%;
}

.repo-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
}




/* RepoInfo */
.repo-slot{
    padding: 1em;
    box-shadow: 0px 1px #b0b0e8;
    width: 100%;
}

.repo-slot a:hover{
    text-decoration: underline;
    color: #9393e8;
}

.repo-slot i{
    font-size: .75em;
}


/* Organize later */



.modal-backdrop {
    background-color: #00000096;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
}

.modal{
    display: none;
    height: 100%;
    left: 0;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    /* top: 0; */
    top: 5vh;
    width: 100%;
    z-index: 15;
}

.fade {
    transition: opacity .15s linear;
}

.modal-dialog {
    margin: 30px auto;
    width: 80%;
    pointer-events: none;
    position: relative;
}

.modal-90w {
    max-width: none !important;
    width: 90%;
}

.modal-content {
    background-clip: padding-box;
    background-color: #1b1c23;
    border: 1px solid #2a2a48;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    outline: 0;
    pointer-events: auto;
    position: relative;
    width: 100%;
}

.modal-body {
    flex: 1 1 auto;
    padding: 1em;
    position: relative;
    max-height: 70vh;
    overflow-y: auto;
}

.modal-header{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.modal-close{
    margin: 1em .5em;
    background: rgb(48 48 88 / 70%);
    display: flex;
    width: 2em;
    height: 2em;
    align-items: center;
    justify-content: center;

    transform: translate(-70%, 25%); /*  Come back to this. I am unsure on it's positioning */
}

.modal-close:hover{
    cursor: pointer;
    background: rgba(69, 69, 128, 0.7);
}


.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.organize-cards{
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;

}


.organize-cards li:hover .card-img-bottom{
    height: 15em;
    width: 15em;
}

.tighten-cards{
    margin: 0 18em;
}


.master-div{
    background-image: linear-gradient(rgb(131 95 56), rgb(50 41 97), transparent);
    z-index: -5;
    position: absolute;
    top: 0%;
    height: 50vh;
    width: 100%;
}

.big-hello{
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.more-info{
    width: 50%;
    margin-top: 20vh;
    margin-bottom: 10vh;
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
}

.more-info p {
    margin-inline-start: 20%;
    width: 60%;
}

.special-text{
    color: hsl(200 51% 72% / 1)
}

.grid-num{
    color: #717ba9
}

.grid {
    display: grid;
    column-gap: 4em;
    row-gap: 4em;
    grid-template-columns: auto auto;
    background-color: #434a69;
    padding: 4em 8em;
    margin: 5vh 2vw;
    border-radius: 5%;
}


.grid-item {
    font-size: 30px;
    text-align: center;
    height: 10em;
    width: 15em;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.grid-item h3{
    margin: 1vh 0;
}

.grid-item p{
    margin: 1vh 0;
    text-align: left;
}

.circle {
    border: 5px solid #594f63;
    background-size: 113%;
    background-position: 60% 35%;
    height: 30em;
    width: 30em;
    background-color: #555;
    border-radius: 50%;
    background-image: url("../assets/suit-me.jpg");
    background-repeat: no-repeat;
}


.testimonnials{
    width: 60%;
    margin: 1em;
    display: flex;
} 

.recommends{
    display: flex;
    flex-direction: column;
    width: 35px;
    height: auto;
    margin: 1em;
    background-color: #31364d;
    min-width: 24vw;
    padding: 4vw 2vw; 
    border-radius: 20px;
}

.recommends .start{
    align-self: flex-start;
    margin: 0;
}
.recommends .end{
    align-self: flex-end;
    margin: 0;
}

.recommends img{
    width: 4em;
    height: 4em;
    border-radius: 50%;
    justify-content: space-around;
}

.nametag{
    grid-column-gap: 2vw;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.nametag p{
    margin: 5px;
}

.avatar-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em; 
    font-size: 2em; 
    border-radius: 50%;
    background-color: #242839;
    color: #fff; 
}

.separate{
    margin: 4em;
    display: flex;
    justify-content: center;
    justify-items: stretch;
    flex-wrap: wrap;
    padding-inline-start: 0;
}
.separate li{
    margin: 5em 2em;
    list-style: none;

}

.home-hr{
    margin-top: 2em;
    width: 33%;

}



.intro-message{
    margin: 8vh 4vw;
    display: flex;
    justify-content: center;
}
.intro-message p{
    text-align: center;
    width: 30%;
}

.nav-option{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.slash{
    color: rgb(143 166 220);
    box-shadow: inset 0 0 0 1px rgb(143 166 220 / 25%);
    height: 2vh;
    width: 2vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    margin-left: 6px;
    font-size: small;
}

.foot-start{
    display: flex;
    align-items: center;
    width: max-content;
    grid-column-start: 5;
    grid-column-end: 10;
    
}
.foot-middle{
    width: max-content;
    grid-column-start: 16;
    grid-column-end: 18;
}
.foot-end{
    width: max-content;
    grid-column-start: 20;
    grid-column-end: 25;
}

.footer-fontsize{
    margin: 0 0 1em;
    font-size: 1.5rem;
}

.contact{
    list-style: none;
    margin-block-start: 0;
    padding-inline-start: 0em;
}