/* Overides */
html {
    background-color: rgb(17 16 16);
}

body {
    color: white;
    margin: 0px;
}

section{
    width: 50%;
}

a:link, a:visited{
    text-decoration: none;
    color: white;
}





/* Nav */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3em;
    width: 70%;
    padding: 0% 15% 0% 15%;
    position: fixed;
    top: 0%;
    z-index: 999;
    background-color: #303058;
    box-shadow: 5px 3px 1px #15152f;
}


.nav-pages {
    display: flex;
    justify-content: space-between;
    width: 40%;
    list-style-type: none;
    text-decoration: none;
    padding: 0%;
}

nav li {
    font-size: 18px;
    cursor: pointer;
}

nav a:hover{
    text-decoration: none;
    color: #b0b0e8;
    /* background-color: black; */
}

nav a:active{
    text-decoration: none;
    color: white;
}

.nav-list {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.counter-nav{
    height: 3em;
}


.nav-icons{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    margin: 0;
    font-size: 2rem;
    padding-inline-start: 0em;
    justify-content: space-between;
    width: 7%;
}

.nav-badges:hover{
    transform: translate(0px, -2px);
}

.nav-badges i{
    font-size: 2rem;
}

.logo{
    width: 7%;
}

.logo a{
    display: flex;
}

.logo img{
    border-radius: 8px;
    height: 2.8em;
}







/* Arrows */
.arrow {
    border: solid;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
}

.left{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.right{
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
}





/* HomePage */
.banner-text{
    margin: 2px;
    font-size: 48px;
    text-shadow: -1px -1px 0 BLACK;
}

.banner{
    position: relative;
    display: grid;
    place-items: center;
    color: #ffffff;
    width: 100%;
    height: 45.66vw;
}

.banner::before{
    content: "";
    position: absolute;
    top: 0;
    left:0;
    background-image: url("https://assets.entrepreneur.com/content/3x2/2000/20160628101609-Coding.jpeg");
    width: 100%;
    height: 100%;
    filter: blur(3px) grayscale(70%) contrast(1.15);
    opacity: .8;
}

.btn p{
    padding: 1em;
}

.banner .btn{
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 3%;
    background-color: transparent;
    height: 3em;
    color: rgb(255, 255, 255);
    border: solid 2px;
    border-color: #8a0ec4;
    cursor: pointer;
    font-size: 18px;
}

.banner .btn:hover{
    background-color: rgb(164, 89, 235);
    border: solid 3px;
    border-color: #ffffff;
    /* color: gray; */
}

.banner hr{
    width: 15%;
    margin-bottom: 3vh;
}

.banner-inside{
    position: relative;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
} 

.banner-inside h2{
    text-shadow: -1px -1px 0 BLACK;
}

.banner-buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
}





/* Universal */
.spacer{
    margin-top: 10em;
}

.master-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portrait {
    /* transform: translate(-10%, 1%); */
    border-radius: 20px;
}





/* AboutPage */
.about-icons{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    margin: 0;
    font-size: 3em;
    padding-inline-start: 0em;
    justify-content: flex-start;
}

.about-socials{
    margin-top: 2em;
}

.email{
    margin: 0.25em;
    font-size: 20px;
    cursor: pointer;
}

.email:hover {
    color: rgb(140, 170, 247);
}

.copy-popup{
    background-color: #2f2e2e; /* Temporary color */
    position: fixed;
    top: 10%;
    left: 50%;
    border-radius: 8px;
    padding: 1em;
    font-size: large;
    transform: translate(-50%, -50%)
}

.about{
    display: flex;
    align-items: center;
    margin: 3em 15% 2em 15%;
    padding-bottom: 2em;
    justify-content: space-around;

    /* border-bottom-style: solid;
    border-color: #a8a8a8;
    Bring back if I add more to about page
    */
}

.about-left{
    width: 45%;
    /* padding-right: 10%; */
    margin: 3% 0%;
}

.about-left p{
    font-size: 1.2rem;
    padding-right: 2em;
}

.about-left ul{
    list-style-type: none;
    text-decoration: none;
}

.big-text{
    margin: 0;
    font-size: 5rem;
}

.about-right{
    max-height: 60vh;
    display: flex;
    justify-content: center;
}

.about-right img{
    max-height: 60vh;
    border-radius: 8px;
}

.badge{
    padding: 1rem;
}

.badge:hover{
    transform: translate(0px, -5px);
    box-shadow: 0px 2px #b0b0e8;
}

.read-button{
    border-radius: 26px;
    background-color: #5151a1;
    color: white;
    border: none;
    height: 2.5rem;
    font-size: large;
    margin-bottom: 1em;
}

.read-button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 4px #3e709e;
}





/* Dislays */
.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2% 5%;
}

.project .prj-info {
    width: 100%;
    /* margin: 3% 0%; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
}

.prj-info div{
    max-width: 45%;
}

.prj-info img{
    margin: 5% 0em;
    max-width: 100%;
} /* Be careful here, this could cause me future issues */


.link-list{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    flex-direction: row;
}

.link-list a{
    text-decoration: underline;
    font-size: larger;
}

.link-list a:hover{
    color: #b0b0e8;
}

.link-list i {
    font-size: .75em;
}

.frame-tech{
    display: flex;
    flex-direction: row;
    margin-top: -1em;
    list-style-type: none;
    padding: 0;
}

.frame-tech li{
    padding: 0.5em;
}


.custom-fa{
    font-size: 2em;
}

.html-badge{
    color: orangered;
}

.css-badge{
    color: #216ae8;
}

.bootstrap-badge{
    color: #8a0ec4;
}

.react-badge{
    color: #30b7d9;
}

.fontawesome-badge{
    color: #528dd7;;
}

.python-badge{
    color: #5b8adc;;
}

.docker-badge{
    color: #2962cd;
}

.aws-badge{
    color: #ff9900;
}

.linkedin-badge{
    color: #0964c0;
}

.github-badge{
    /* font-size: 4rem; */
    color: #ffffff;
    /* font-size: 24px; */
}

.img-background{
    position: relative;
    max-width: 100% !important; 
}





/* DeployedAppsPage */
.deployed-apps{
    display: flex;
    flex-direction: column;

}

.apps-menu{
    padding: 0 12.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-height: 24em;
    background-color: #212020;
}

.apps-menu.vertical {
    margin: 0;
    padding: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 20%;
    box-shadow: 1.5px 0px 0px 0px #636363;

}

.display-content{
    margin: 2em;
}

.display-content.on{
    width: 80%;
    margin-left: 20%;
}


.close-x{
    background: rgb(48 48 88 / 70%);
    display: flex;
    width: 2em;
    height: 2em;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: fixed;
    top: 6em;
    right: 4%;
}

.close-x:hover{
    cursor: pointer;
}

.display-help{
    margin: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}



/* DeployedApps Cards */
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #303058;
    background-clip: border-box;
    border: 6px solid rgba(0,0,0,.125);
    border-radius: 0.5rem;
    cursor: pointer;
}

.card:hover{
    border: 3px solid rgb(140, 170, 247);
}

.card-img{
    border-style: none;
    vertical-align: middle;
    width: 100%;
    margin-bottom: 0;

}

.card-img-bottom{
    width: 12em;
    height: 12em;
    margin-bottom: 0;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    object-fit: cover;
}

.card:hover .card-img-bottom{
    width: 15em;
    height: 15em;
    opacity: .4;
}


.card-title{
    margin: 0.25rem 0.25rem 0.5rem;
    font-size: 1.4rem;
}


.card-img-overlay{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    padding: 1.25rem;
    transform: translate(-50%, -50%);
    color: transparent;
}

.card:hover .card-img-overlay{
    color: white;
}


.card-text{
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
}


/* Projects Page */
.repo-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0%;
    list-style-type: none;
    text-decoration: none;
    width: 33%;
}

.repo-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
}




/* RepoInfo */
.repo-slot{
    padding: 1em;
    box-shadow: 0px 1px #b0b0e8;
    width: 100%;
}

.repo-slot a:hover{
    text-decoration: underline;
    color: #9393e8;
}

.repo-slot i{
    font-size: .75em;
}





/* Experimental delete or move */
