.master-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    width: 50%
}

.pic-frame{
    height: 7em;
    width: 7em;
    border-radius: 50%;
    display: inline-block;
    background-color: aquamarine;
    background-image: url(../assets/Portrait.jpeg);
    background-position: -3rem -2rem;
    background-size: 150%;
    background-repeat: no-repeat;
}

.spaced-row{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}